<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formUsuario">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="primerNombre">Primer nombre</label>
            <input type="text" class="form-control" id="primerNombre" placeholder="" formControlName="primerNombreUsuario" value="">
            <div *ngIf="primerNombreUsuario.invalid && (primerNombreUsuario.dirty || primerNombreUsuario.touched)" class="alert alert-danger">
              <div *ngIf="primerNombreUsuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="primerNombreUsuario.errors.pattern">
                Introduzca un nombre valido
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="segundoNombre">Segundo nombre</label>
            <input type="text" class="form-control" id="segundoNombre" placeholder="" formControlName="segundoNombreUsuario" value="">
            <div *ngIf="segundoNombreUsuario.invalid && (segundoNombreUsuario.dirty || segundoNombreUsuario.touched)" class="alert alert-danger">
              <div *ngIf="segundoNombreUsuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="segundoNombreUsuario.errors.pattern">
                Introduzca un nombre valido
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="primerApellido">Primer apellido</label>
            <input type="text" class="form-control" id="primerApellido" placeholder="" formControlName="primerApellidoUsuario" value="">
            <div *ngIf="primerApellidoUsuario.invalid && (primerApellidoUsuario.dirty || primerApellidoUsuario.touched)" class="alert alert-danger">
              <div *ngIf="primerApellidoUsuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="primerApellidoUsuario.errors.pattern">
                Introduzca un nombre valido
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="segundoApellido">Segundo apellido</label>
            <input type="text" class="form-control" id="segundoApellido" placeholder="" formControlName="segundoApellidoUsuario" value="">
            <div *ngIf="segundoApellidoUsuario.invalid && (segundoApellidoUsuario.dirty || segundoApellidoUsuario.touched)" class="alert alert-danger">
              <div *ngIf="segundoApellidoUsuario.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="segundoApellidoUsuario.errors.pattern">
                No se permiten caracteres especiales
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="estado">Estado</label>
            <select class="custom-select d-block w-100" formControlName="estadoUsuario" id="estado">
              <option value="">Choose...</option>
              <option>Activo</option>
              <option>Inactivo</option>
            </select>
            <div *ngIf="estadoUsuario.invalid && (estadoUsuario.dirty || estadoUsuario.touched)" class="alert alert-danger">
              <div *ngIf="estadoUsuario.errors.required">
                Este campo es obligatorio
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Guardar</button>
    </div>
  </div>
</div>
