<div class="container mt-4">
  <form class="form-signin">

    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">MercadoUcab </h1>
      <p class="texto"> Participa en nuestro Sistema</p> 
    </div>
<!-- arreglar lo rojo de los inputs -->
    <div class="form-label-group">
      <input #email type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>
  
    <div class="form-label-group">
      <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="MandarForm(email.value,password.value)">Sign in</button>
    <!-- centrar estas dos cosas -->
    <a class="navbar-brand my-2 text-dark text-center" [routerLink]="['/recuperacion']">Se olvido la clave ? </a>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2020</p>
  </form>
</div>