<form class="form-signin" style="width: 20%; margin-top: 15%;margin-left: 40% ;">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">MercadoUcab </h1>
      <p> Quieres participar en nuestro analisis de producto del mercado bla bla bla ...</p> 
    </div>
  
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>