<div class="modal-dialog">
    <div class="modal-content">
  
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Encuesta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="asigCantPregunta(0)">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body">
            <form class="needs-validation" [formGroup]="formEncuesta">
                <div class="form-row">
                    <div class="col-md-4 col-sm-4 mb-3">
                        <label for="fechaInicio">Fecha Inicio</label>
                        <input type="text" class="form-control" [(ngModel)]="encuesta.fechaInicio" id="fechaInicio" name="fechaInicio" placeholder="DD/MM/YYYY" value="fechaInicio" formControlName="fechaInicioEncuesta">
                        <!-- <div *ngIf="fechaInicioEncuesta.invalid && (fechaInicioEncuesta.dirty || fechaInicioEncuesta.touched)" class="alert alert-danger">
                            <div *ngIf="fechaInicioEncuesta.errors.required">
                              Este campo es obligatorio
                            </div>
                            <div *ngIf="fechaInicioEncuesta.errors.pattern">
                              Introduzca un formato valido
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-4 col-sm-4 mb-3">
                        <label for="fechaFin">Fecha Fin</label>
                        <input type="text" class="form-control" [(ngModel)]="encuesta.fechaFin" id="fechaFin" name="fechaFin" placeholder="DD/MM/YYYY" value="fechaFin" formControlName="fechaFinEncuesta">
                        <!-- <div *ngIf="fechaFinEncuesta.invalid && (fechaFinEncuesta.dirty || fechaFinEncuesta.touched)" class="alert alert-danger">
                            <div *ngIf="fechaFinEncuesta.errors.required">
                              Este campo es obligatorio
                            </div>
                            <div *ngIf="fechaFinEncuesta.errors.pattern">
                              Introduzca un formato valido
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-4 col-sm-4 mb-3">
                        <label for="estado">Estado</label>
                        <select class="custom-select d-block w-100" id="estado" [(ngModel)]="encuesta.estado"  value="estado" name="estado" formControlName="estadoEncuesta">
                            <option value="">Choose...</option>
                            <option>A</option>
                            <option>I</option>
                        </select>
                        <!-- <div *ngIf="estadoEncuesta.invalid && (estadoEncuesta.dirty || estadoEncuesta.touched)" class="alert alert-danger">
                            <div *ngIf="estadoEncuesta.errors.required">
                              Este campo es obligatorio
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 col-sm-6 mb-3">
                        <label for="estudio">Estudio relacionado</label>
                    </div>
                    <div class="col-md-8 col-sm-6 mb-3">
                        <select class="custom-select d-block w-100" [(ngModel)]="encuesta.estudio._id" id="estudio" value="estudio._id" name="estudio._id" formControlName="estudio">
                            <option value="">Choose...</option>
                            <option *ngFor="let est of estudios" [ngValue]= "est._id">{{ est.nombre }}</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid option.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 col-sm-6 mb-3">
                        <label for="cantidadPreguntas">Cantidad de preguntas</label>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light" (click)="asigCantPregunta(5)">5</button>
                            <button type="button" class="btn btn-light" (click)="asigCantPregunta(10)">10</button>
                            <button type="button" class="btn btn-light" (click)="asigCantPregunta(15)">15</button>
                          </div>
                        <div class="invalid-feedback">
                            Please select a valid option.
                        </div>
                    </div>
                </div>
                <!-- arreglar esta parte de agregar preguntas a una encuesta -->
                <div class="form-row">
                    <div class="col-md-6 col-sm-8 mb-4">
                        <label for="pregunta">Pregunta</label>
                        <input type="text" class="form-control" [(ngModel)]="preguntas" formControlName="pregunta" id="pregunta" placeholder="" value="" name="encuesta.pregunta">
                    </div>
                    <div class="col-md-4  col-sm-4 mb-2">
                        <label for="tipoPregunta">Tipo de pregunta</label>
                        <select class="custom-select d-block w-100" id="tipoPregunta">
                            <option value="">Choose...</option>
                            <option *ngFor="let tipoPregunta of tipoPreguntas">{{ tipoPregunta.tipo }}</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid option.
                        </div>
                    </div>
                    <div class="col-md-2  col-sm-4 mb-2 mt-2">
                        <br>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" >
                            +
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="asigCantPregunta(0)">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="addEncuesta()"  data-dismiss="modal" >Guardar</button>
        </div>    
    </div>
</div>