<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cliente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="formCliente">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <label for="razonSocial">Razon Social</label>
                    <input class="form-control" id="razonSocial" [(ngModel)]="cliente.razonSocial" name="razonSocial" formControlName="razonSocialCliente">
                    <div *ngIf="razonSocialCliente.invalid && (razonSocialCliente.dirty || razonSocialCliente.touched)" class="alert alert-danger">
                      <div *ngIf="razonSocialCliente.errors.required">
                        Este campo es obligatorio
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="rif">RIF</label>
                  <input type="text" class="form-control" [(ngModel)]="cliente.rif" id="rif" name="rif" placeholder="" formControlName="rifCliente" value="" >
                  <div *ngIf="rifCliente.invalid && (rifCliente.dirty || rifCliente.touched)" class="alert alert-danger">
                    <div *ngIf="rifCliente.errors.required">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="rifCliente.errors.pattern">
                      Introduzca un formato valido
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label for="telefono">Telefono</label>
                  <input type="text" class="form-control" [(ngModel)]="cliente.telefono.numero" formControlName="telefonoCliente" id="telefono" name="telefono">
                  <div *ngIf="telefonoCliente.invalid && (telefonoCliente.dirty || telefonoCliente)" class="alert alert-danger">
                    <div *ngIf="telefonoCliente.errors.required">
                      Este campo es obligatorio
                    </div>
                    <div *ngIf="telefonoCliente.errors.pattern">
                      Ingrese un formato valido (Solo Numeros)
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="municipio">Municipio</label>
                <select class="custom-select d-block w-100"  [(ngModel)]="cliente.lugar.lugar._id" (click)="busquedaParroquia(cliente.lugar.lugar._id)" id="municipio" name="lugar" formControlName="lugarCliente" value="cliente.lugar.lugar._id">
                  <option selected>Choose...</option>
                  <option  *ngFor="let municipio of municipios" [ngValue]= "municipio._id"  >{{municipio.nombre}}</option>
                </select>
                <div *ngIf="lugarCliente.invalid && (lugarCliente.dirty || lugarCliente.touched)" class="alert alert-danger">
                  <div *ngIf="lugarCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="parroquia">Parroquia</label>
                <select class="custom-select d-block w-100"  [(ngModel)]="cliente.lugar.lugar.lugar._id" (click)="seleccionarParroquia(cliente.lugar.lugar.lugar._id)" id="parroquia" name="lugar" formControlName="lugarCliente" value="cliente.lugar.lugar.lugar._id">
                  <option selected>Choose...</option>
                  <option  *ngFor="let parroquia of parroquias" [ngValue]= "parroquia._id"  >{{parroquia.nombre}}</option>
                </select>
                <div *ngIf="lugarCliente.invalid && (lugarCliente.dirty || lugarCliente.touched)" class="alert alert-danger">
                  <div *ngIf="lugarCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="user">Username</label>
                <input type="text" [(ngModel)]="cliente.usuario.username" class="form-control"  formControlName="claveCliente" name="username" id="user" placeholder="" >
                <div *ngIf="usernameCliente.invalid && (usernameCliente.dirty || usernameCliente.touched)" class="alert alert-danger">
                  <div *ngIf="usernameCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="clave">Clave</label>
                <input type="password" [(ngModel)]="cliente.usuario.clave" class="form-control"  formControlName="claveCliente" name="clave" id="clave" placeholder="" >
                <div *ngIf="claveCliente.invalid && (claveCliente.dirty || claveCliente.touched)" class="alert alert-danger">
                  <div *ngIf="claveCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 mb-3">
                <label for="correo">Correo Electronico</label>
                <input type="text" [(ngModel)]="cliente.usuario.correoElectronico" class="form-control"  formControlName="correoElectronicoCliente" name="correoElectronico" id="correo" placeholder="" >
                <div *ngIf="correoElectronicoCliente.invalid && (correoElectronicoCliente.dirty || correoElectronicoCliente.touched)" class="alert alert-danger">
                  <div *ngIf="correoElectronicoCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                  <div>
                    <div *ngIf="correoElectronicoCliente.errors.pattern">
                      Introduzca un formato valido
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="addCliente(cliente)" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
