<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cliente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <form [formGroup]="formCliente">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="rif">RIF</label>
                        <input type="text" class="form-control" id="rif" placeholder="" formControlName="rifCliente" value="" >
                          <div *ngIf="rifCliente.invalid && (rifCliente.dirty || rifCliente.touched)" class="alert alert-danger">
                            <div *ngIf="rifCliente.errors.required">
                              Este campo es obligatorio
                            </div>
                            <div *ngIf="rifCliente.errors.pattern">
                              Introduzca un formato valido
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-5 mb-3">
                    <label for="estatus">Estado</label>
                    <select class="custom-select d-block w-100" id="estatus" formControlName="estadoCliente">
                      <option value="">Choose...</option>
                      <option>Activo</option>
                      <option>Inactivo</option>
                    </select>
                    <div *ngIf="estadoCliente.invalid && (estadoCliente.dirty || estadoCliente.touched)" class="alert alert-danger">
                      <div *ngIf="estadoCliente.errors.required">
                        Este campo es obligatorio
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="razonSocial">Razon Social</label>
                  <select class="custom-select d-block w-100" id="razonSocial" formControlName="razonSocialCliente">
                    <option value="">Choose...</option>
                    <option value="J">Juridico (J)</option>
                    <option value="P">P</option>
                    <option value="CA">CA</option>
                    <option value="SA">SA</option>
                    <option value="SRL">SRL</option>
                    <option value="ONG">ONG</option>
                    <option value="ASFL">ASFL</option>
                  </select>
                  <div *ngIf="razonSocialCliente.invalid && (razonSocialCliente.dirty || razonSocialCliente.touched)" class="alert alert-danger">
                    <div *ngIf="razonSocialCliente.errors.required">
                      Este campo es obligatorio
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label for="telefono">Telefono</label>
                  <input type="text" class="form-control" [(ngModel)]="cliente.telefono.numero" formControlName="telefonoEncuestado" id="telefono" name="telefono" value="">
                  <div *ngIf="telefonoCliente.invalid && (telefonoCliente.dirty || telefonoCliente)" class="alert alert-danger">
                    <div *ngIf="telefonoCliente.errors.required">
                      Este campo es obligatorio
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="estado">Estado</label>
                <select class="custom-select d-block w-100"  [(ngModel)]="cliente.lugar._id" (click)="busquedaMunicipio(cliente.lugar._id)" id="estado" formControlName="lugarCliente" value="cliente.lugar._id">
                  <option selected>Choose...</option>
                  <option  *ngFor="let estado of estados" [ngValue]= "estado._id"  >{{estado.nombre}}</option>
                </select>
                <div *ngIf="lugarCliente.invalid && (lugarCliente.dirty || lugarCliente.touched)" class="alert alert-danger">
                  <div *ngIf="lugarCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="municipio">Municipio</label>
                <select class="custom-select d-block w-100"  [(ngModel)]="cliente.lugar.lugar._id" (click)="busquedaParroquia(cliente.lugar.lugar._id)" id="municipio" formControlName="lugarCliente" value="cliente.lugar.lugar._id">
                  <option selected>Choose...</option>
                  <option  *ngFor="let municipio of municipios" [ngValue]= "municipio._id"  >{{municipio.nombre}}</option>
                </select>
                <div *ngIf="lugarCliente.invalid && (lugarCliente.dirty || lugarCliente.touched)" class="alert alert-danger">
                  <div *ngIf="lugarCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="parroquia">Parroquia</label>
                <select class="custom-select d-block w-100"  [(ngModel)]="cliente.lugar.lugar.lugar._id" (click)="seleccionarParroquia(cliente.lugar.lugar.lugar._id)" id="parroquia" formControlName="lugarCliente" value="cliente.lugar.lugar.lugar._id">
                  <option selected>Choose...</option>
                  <option  *ngFor="let parroquia of parroquias" [ngValue]= "parroquia._id"  >{{parroquia.nombre}}</option>
                </select>
                <div *ngIf="lugarCliente.invalid && (lugarCliente.dirty || lugarCliente.touched)" class="alert alert-danger">
                  <div *ngIf="lugarCliente.errors.required">
                    Este campo es obligatorio
                  </div>
                </div>
              </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="addCliente(cliente)" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
