<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cliente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="rif">RIF</label>
                        <input type="text" class="form-control" id="rif" placeholder="" value="" required>
                        <div class="invalid-feedback">
                        Valid is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="mb-3">
                        <label for="address">Address (aqui seria la fk de lugar)</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-5 mb-3">
                    <label for="estado">Estado</label>
                    <select class="custom-select d-block w-100" id="estado" required>
                      <option value="">Choose...</option>
                      <option>Activo</option>
                      <option>Inactivo</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid option.
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="razonSocial">Razon Social</label>
                  <select class="custom-select d-block w-100" id="razonSocial" required>
                    <option value="">Choose...</option>
                    <option>Juridico (J)</option>
                    <option>P</option>
                    <option>CA</option>
                    <option>SA</option>
                    <option>SRL</option>
                    <option>ONG</option>
                    <option>ASFL</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid option.
                  </div>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="agregarCliente()" data-dismiss="modal">Guargar</button>
        </div>
    </div>
</div>
