<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" >
        <div [ngSwitch]="seccion">
          <div *ngSwitchCase="'Perfil'"><h1 class="h2 text-white"f>Perfil Analista</h1></div>
          <div *ngSwitchDefault><h1 class="h2 text-white"f>Lista de {{seccion}}</h1></div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <!-- aqui va lo que vas a mostrar cuando presionas el boton de agregar -->
            <!-- el boton solo se muestra cuando estas en la seccion estudios -->
          </div>
        </div>
      </div>
      <div [ngSwitch]="seccion">
        <div *ngSwitchCase="'Perfil'"><app-perfil></app-perfil></div>
        <div *ngSwitchCase="'Estudios'"><app-lista-estudios-analista></app-lista-estudios-analista></div>
      </div>
    </main>
  </div>
</div>
