<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="" value="" required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Estado</label>
      <select class="custom-select d-block w-100" id="country" required>
        <option value="">Choose...</option>
        <option>Activo (A)</option>
        <option>Inactivo (I)</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid option.
      </div>
    </div>
  </div>
</form>
