<div class="olvido ">
    <form [formGroup]="formRecuperacion" class="container">

      <div class="form-row">
        <div class="form-group col-md-6">
          <p style="font-style: italic; font-size: medium; color: aliceblue;"> Para la recuperacion necesitamos que ingrese su correo para poder comprobar que estas registrado en el Sistema de MERCADOUCAB</p>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4" style="color: azure;">Email</label>
          <input type="email"  [(ngModel)]="usuario.correoElectronico"  formControlName="userCorreo"class="form-control"  name="email">
          <div *ngIf="userCorreo.invalid && (userCorreo.dirty || userCorreo.touched)" class="alert alert-danger">
            <div *ngIf="userCorreo.errors.required">
              Este campo es obligatorio
            </div>
            <div *ngIf="userCorreo.errors.pattern">
              Introduzca un nombre valido
            </div>
          </div>
        </div>
      </div>  
      <button (click)="confirmarCorreo()" type="submit" class="btn btn-light">confirmar</button>   
    </form>
  </div>
  