<div class="container mt-2">
  <div class="table-responsive">
    <table class="table table-striped table-sm bg-light">
      <thead>
      <tr>
        <th>ID</th>
        <th>Primer Nombre</th>
        <th>Primer Apellido</th>
        <th>Username</th>
        <th>Correo</th>
        <th>Estado </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let encuestado of Encuestado" >
        <td>{{ encuestado._id }}</td>
        <td>{{ encuestado.primerNombre }}</td>
        <td>{{ encuestado.primerApellido}}</td>
        <td>{{ encuestado.usuario.username }}</td>
        <td>{{ encuestado.usuario.correoElectronico }}</td>
        <td>{{ encuestado.estado }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" (click)="deleteEncuestado(encuestado._id)" data-target="#exampleModal">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
            </div> <!-- Finall Modal -->
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


