<div class="registro">
  <form [formGroup]="formRegistroEncuestado" class="container">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="primernombre">Primer Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="encuestado.primerNombre" formControlName="primerNombreEncuestado" id="primernombre" name="primerNombre">
        <div *ngIf="primerNombreEncuestado.invalid && (primerNombreEncuestado.dirty || primerNombreEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="primerNombreEncuestado.errors.required">
            Este campo es obligatorio
          </div>
          <div *ngIf="primerNombreEncuestado.errors.pattern">
            Introduzca un formato valido
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="segundonombre">Segundo Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="encuestado.segundoNombre" formControlName="segundoNombreEncuestado" id="segundonombre" name="segundoNombre">
        <div *ngIf="segundoNombreEncuestado.invalid && (segundoNombreEncuestado.dirty || segundoNombreEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="segundoNombreEncuestado.errors.required">
            Este campo es obligatorio
          </div>
          <div *ngIf="segundoNombreEncuestado.errors.pattern">
            Introduzca un formato valido
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="primerapellido">Primer Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="encuestado.primerApellido" formControlName="primerApellidoEncuestado" id="primerapellido" name="primerApellido">
        <div *ngIf="primerApellidoEncuestado.invalid && (primerApellidoEncuestado.dirty || primerApellidoEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="primerApellidoEncuestado.errors.required">
            Este campo es obligatorio
          </div>
          <div *ngIf="primerApellidoEncuestado.errors.pattern">
            Introduzca un formato valido
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="segundoapellido">Segundo Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="encuestado.segundoApellido" formControlName="segundoApellidoEncuestado" id="segundoapellido" name="segundoApellido">
        <div *ngIf="segundoApellidoEncuestado.invalid && (segundoApellidoEncuestado.dirty || segundoApellidoEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="segundoApellidoEncuestado.errors.required">
            Este campo es obligatorio
          </div>
          <div *ngIf="segundoApellidoEncuestado.errors.pattern">
            Introduzca un formato valido
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="estatus">Estado</label>
        <select class="custom-select d-block w-100" [(ngModel)]= "encuestado.estado" formControlName="estadoEncuestado" id="estatus" name="estado">
          <option value="">Choose...</option>
          <option value="a">Activa</option>
          <option value="i">Inactiva</option>
        </select>
        <div *ngIf="estadoEncuestado.invalid && (estadoEncuestado.dirty || estadoEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="estadoEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="fechanacimiento">Fecha de Nacimiento</label>
        <input type="text" class="form-control" [(ngModel)]="encuestado.fechaNacimiento" formControlName="fechaNacimientoEncuestado" id="fechanacimiento" name="fechaNacimiento">
      </div>
      <div *ngIf="fechaNacimientoEncuestado.invalid && (fechaNacimientoEncuestado.dirty || fechaNacimientoEncuestado.touched)" class="alert alert-danger">
        <div *ngIf="fechaNacimientoEncuestado.errors.required">
          Este campo es obligatorio
        </div>
        <div *ngIf="fechaNacimientoEncuestado.errors.pattern">
          Introduzca un formato valido
        </div>
      </div>
    </div>
      <div class="form-row">
        <div class="col-md-3">
          <label for="genero">Genero</label>
          <select class="custom-select d-block w-100" [(ngModel)]= "encuestado.genero._id" formControlName="generoEncuestado" id="genero" name="genero">
            <option value="">Choose...</option>
            <option *ngFor="let gen of genero" [ngValue]= "gen._id"  >{{gen.nombre}}</option>
          </select>
          <div *ngIf="generoEncuestado.invalid && (generoEncuestado.dirty || generoEncuestado.touched)" class="alert alert-danger">
            <div *ngIf="generoEncuestado.errors.required">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="estadocivil">Estado Civil</label>
          <select class="custom-select d-block w-100" [(ngModel)]= "encuestado.estadoCivil._id" id="estadocivil" formControlName="estadoCivilEncuestado" name="estadoCivil">
            <option value="">Choose...</option>
            <option  *ngFor="let estadoCivil of estadoCivil" [ngValue]= "estadoCivil._id"  >{{estadoCivil.nombre}}</option>
          </select>
          <div *ngIf="estadoCivilEncuestado.invalid && (estadoCivilEncuestado.dirty || estadoCivilEncuestado.touched)" class="alert alert-danger">
            <div *ngIf="estadoCivilEncuestado.errors.required">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="nivelsocioeconomico">Nivel Socioeconomico</label>
          <select class="custom-select d-block w-100" [(ngModel)]= "encuestado.nivelSocioEconomico._id" id="nivelsocioeconomico" formControlName="nivelSocioEconomicoEncuestado" name="nivelSocioEconomico">
            <option value="">Choose...</option>
            <option  *ngFor="let nivelSocioEconomico of nivelSocioEconomico" [ngValue]= "nivelSocioEconomico._id"  >{{nivelSocioEconomico.nombre}}</option>
          </select>
          <div *ngIf="nivelSocioEconomicoEncuestado.invalid && (nivelSocioEconomicoEncuestado.dirty || nivelSocioEconomicoEncuestado.touched)" class="alert alert-danger">
            <div *ngIf="nivelSocioEconomicoEncuestado.errors.required">
              Este campo es obligatorio
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label for="nivelacademico">Nivel Academico</label>
          <select class="custom-select d-block w-100" [(ngModel)]= "encuestado.nivelAcademico._id" id="nivelacademico" formControlName="nivelAcademicoEncuestado" name="nivelAcademico">
            <option value="">Choose...</option>
            <option  *ngFor="let nivelAcademico of nivelAcademico" [ngValue]= "nivelAcademico._id"  >{{nivelAcademico.nombre}}</option>
          </select>
          <div *ngIf="nivelAcademicoEncuestado.invalid && (nivelAcademicoEncuestado.dirty || nivelAcademicoEncuestado.touched)" class="alert alert-danger">
            <div *ngIf="nivelAcademicoEncuestado.errors.required">
              Este campo es obligatorio
            </div>
          </div>
        </div>
      </div>
    <div class="form-row">
      <div class="col-md-6">
        <label for="ocupacion">Ocupacion</label>
        <select class="custom-select d-block w-100" [(ngModel)]="encuestado.ocupacion._id" id="ocupacion" formControlName="ocupacionEncuestado" name="ocupacion">
          <option value="">Choose...</option>
          <option  *ngFor="let ocupacion of ocupacion" [ngValue]= "ocupacion._id"  >{{ocupacion.nombre}}</option>
        </select>
        <div *ngIf="ocupacionEncuestado.invalid && (ocupacionEncuestado.dirty || ocupacionEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="ocupacionEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="medioconexion">Medio Conexion</label>
        <select class="custom-select d-block w-100" [(ngModel)]="encuestado.medioConexion._id" id="medioconexion" formControlName="medioConexionEncuestado" name="medioConexion">
          <option value="">Choose...</option>
          <option  *ngFor="let medioConexion of medioConexion" [ngValue]= "medioConexion._id"  >{{medioConexion.nombre}}</option>
        </select>
        <div *ngIf="medioConexionEncuestado.invalid && (medioConexionEncuestado.dirty || medioConexionEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="medioConexionEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="estado">Estado</label>
        <select class="custom-select d-block w-100"  [(ngModel)]="encuestado.lugar._id" (click)="busquedaMunicipio(encuestado.lugar._id)" id="estado" formControlName="lugarEncuestado" value="encuestado.Lugar._id">
          <option selected>Choose...</option>
          <option  *ngFor="let estado of estados" [ngValue]= "estado._id"  >{{estado.nombre}}</option>
        </select>
        <div *ngIf="lugarEncuestado.invalid && (lugarEncuestado.dirty || lugarEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="lugarEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="municipio">Municipio</label>
        <select class="custom-select d-block w-100"  [(ngModel)]="encuestado.lugarlugar._id" (click)="busquedaParroquia(encuestado.lugar.lugar._id)" id="municipio" formControlName="lugarEncuestado" value="encuestado.Lugar._id">
          <option selected>Choose...</option>
          <option  *ngFor="let municipio of municipios" [ngValue]= "municipio._id"  >{{municipio.nombre}}</option>
        </select>
        <div *ngIf="lugarEncuestado.invalid && (lugarEncuestado.dirty || lugarEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="lugarEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="parroquia">Parroquia</label>
        <select class="custom-select d-block w-100"  [(ngModel)]="encuestado.lugar._id" id="parroquia" formControlName="lugarEncuestado" value="encuestado.Lugar._id">
          <option selected>Choose...</option>
          <option  *ngFor="let parroquia of parroquias" [ngValue]= "parroquia._id"  >{{parroquia.nombre}}</option>
        </select>
        <div *ngIf="lugarEncuestado.invalid && (lugarEncuestado.dirty || lugarEncuestado.touched)" class="alert alert-danger">
          <div *ngIf="lugarEncuestado.errors.required">
            Este campo es obligatorio
          </div>
        </div>
      </div>
    </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" [(ngModel)]="encuestado.usuario.username" id="username" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="clave">Clave</label>
            <input type="text" class="form-control" [(ngModel)]="encuestado.usuario.clave" id="clave" value="">
          </div>
          <div class="form-group col-md-6">
            <label for="correo">Correo electronico</label>
            <input type="text" class="form-control" [(ngModel)]="encuestado.usuario.correoElectronico" id="correo" formControlName="correoElectronicoEncuestado" value="">
            <div *ngIf="correoElectronicoEncuestado.invalid && (correoElectronicoEncuestado.dirty || correoElectronicoEncuestado.touched)" class="alert alert-danger">
              <div *ngIf="correoElectronicoEncuestado.errors.required">
                Este campo es obligatorio
              </div>
              <div *ngIf="correoElectronicoEncuestado.errors.pattern">
                Introduzca un formato valido
              </div>
            </div>
          </div>
        </div>
    <button (click)="addEncuestado(encuestado)" type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
