<div class="registro">
  <form class="container">



            <div class="form-row">
                  <div class="form-group col-md-3">
                      <label for="inputState">Primer Nombre</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
                  </div>

                  <div class="form-group col-md-3">
                      <label for="inputState">Segundo Nombre</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.nombre2" name="nombre2">
                  </div>

                  <div class="form-group col-md-3">
                      <label for="inputState">Primer Apellido</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.apellido" name="apellido">
                  </div>
                  <div class="form-group col-md-3">
                      <label for="inputState">Segundo Apellido</label>
                      <input type="text" class="form-control" [(ngModel)]="usuario.apellido2" name="apellido">
                  </div>
            </div>

        <div class="form-row">
              <div class="form-group col-md-3">
                  <label for="pais">Pais</label>
                  <select id="pais" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
              </div>

              <div class="form-group col-md-3">
                  <label for="estado">Estado</label>
                  <select id="estado" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
              </div>

              <div class="form-group col-md-3">
                  <label for="ciudad">Ciudad</label>
                  <select id="ciudad" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
              </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="municipio">Municipio</label>
            <select id="municipio" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="inputState">Parroquia</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
        </div>
      </div>


        <button (click)="guardarUsuario()" type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
