<div class="container mt-2">
  <div class="table-responsive">
    <table class="table table-striped table-sm bg-light">
      <thead>
      <tr>
        <th>ID</th>
        <th>Estado</th>
        <th>Nombre</th>
        <th>Edad (mín.)</th>
        <th>Edad (máx.)</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Culminación</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudio of estudios " >
          <td>{{ estudio._id }}</td>
          <td>{{ estudio.estado }}</td>
          <td>{{ estudio.nombre }}</td>
          <td>{{ estudio.edadMinima }}</td>
          <td>{{ estudio.edadMaxima }}</td>
          <td>{{ estudio.fechaInicio }}</td>
          <td>{{ estudio.fechaFin }}</td>

          <td>
            <div  class="d-flex justify-content-around">
              <button  type="button" class="btn btn-primary" data-toggle="modal" (click)="editar(estudio)" data-target="#exampleModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button>
              <!-- Modal -->
              <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Cabezado Modal -->
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar Estudio </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <!-- Cuerpo completo del Modal -->
                    <div class="modal-body">
                      <form [formGroup]="formEstudio">
                          <div class="row">
                            <div class="col-md-4">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="estudioData.nombre" formControlName="nombreEstudio" value="nombre">
                                <div *ngIf="nombreEstudio.invalid && (nombreEstudio.dirty || nombreEstudio.touched)" class="alert alert-danger">
                                  <div *ngIf="nombreEstudio.errors.required">
                                    Este campo es obligatorio
                                  </div>
                                  <div *ngIf="nombreEstudio.errors.pattern">
                                    Introduzca un formato valido
                                  </div>
                              </div>
                            </div>
                              <div class="col-md-4 mb-3">
                              <label for="edadMinima">Edad Minima</label>
                                <input type="text" class="form-control" placeholder=" "[(ngModel)]="estudioData.edadMinima" formControlName="edadMinimaEstudio" value="edadMinima">
                                <div *ngIf="edadMinimaEstudio.invalid && (edadMinimaEstudio.dirty || edadMinimaEstudio.touched)" class="alert alert-danger">
                                  <div *ngIf="edadMinimaEstudio.errors.required">
                                    Este campo es obligatorio
                                  </div>
                                  <div *ngIf="edadMinimaEstudio.errors.pattern">
                                    Introduzca una edad valida
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <label for="edadMaxima">Edad Maxima</label>
                                <input type="text" class="form-control" id="edadMaxima" placeholder=" "[(ngModel)]="estudioData.edadMaxima" formControlName="edadMaximaEstudio">
                                <div *ngIf="edadMaximaEstudio.invalid && (edadMaximaEstudio.dirty || edadMaximaEstudio.touched)" class="alert alert-danger">
                                  <div *ngIf="edadMaximaEstudio.errors.required">
                                    Este campo es obligatorio
                                  </div>
                                  <div *ngIf="edadMaximaEstudio.errors.pattern">
                                    Introduzca una edad valida
                                  </div>
                                </div>
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <label for="fechaInicio">Fecha inicio</label>
                              <input type="text" class="form-control" id="fechaInicio" placeholder="DD/MM/AAAA" [(ngModel)]="estudioData.fechaInicio" formControlName="fechaInicioEstudio" value="fechaInicio">
                              <div *ngIf="fechaInicioEstudio.invalid && (fechaInicioEstudio.dirty || fechaInicioEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="fechaInicioEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                                <div *ngIf="fechaInicioEstudio.errors.pattern">
                                  Introduzca un formato valido
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="fechaFin">Fecha fin</label>
                              <input type="text" class="form-control" id="fechaFin" placeholder="DD/MM/AAAA" value=""[(ngModel)]="estudioData.fechaFin" value="fechaFin"formControlName="fechaFinEstudio">
                              <div *ngIf="fechaFinEstudio.invalid && (fechaFinEstudio.dirty || fechaFinEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="fechaFinEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                                <div *ngIf="fechaFinEstudio.errors.pattern">
                                  Introduzca un formato valido
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="col-md-6 mb-3">
                              <label for="estado">Estado del Estudio</label>
                              <select class="custom-select d-block w-100" [(ngModel)]="estudioData.estado" formControlName="estadoEstudio" value="estado">
                                <option value="">Choose...</option>
                                <option value="Solicitado">Solicitado</option>
                                <option value="Aprobado">Aprobado</option>
                                <option value="En Proceso">En Proceso</option>
                                <option value="Culminado">Culminado</option>
                                <option value="Rechazado">Rechazado</option>
                              </select>
                              <div *ngIf="estadoEstudio.invalid && (estadoEstudio.dirty || estadoEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="estadoEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                              </div>
                            </div>

                            <div class="col-md-6 mb-3">
                              <label for="" class="col-sm-6 col-form-label escrituerModal">Subcategoria </label>
                              <select name="id_categoria"  class="custom-select d-block w-100"  [(ngModel)]="estudioData.subcategoria._id" formControlName="subcategoriaEstudio" value="estudioData.subcategoria._id">
                                <option  value=""> Seleccione una ...</option>
                                <option  *ngFor="let sub of subcategoria" [ngValue]= "sub._id"  >{{sub.nombre}}</option>
                              </select>
                              <div *ngIf="subcategoriaEstudio.invalid && (subcategoriaEstudio.dirty || subcategoriaEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="subcategoriaEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--<div class="row">
                            <div class="col-md-4 mb-3">
                              <label for="estado">Estado</label>
                              <select class="custom-select d-block w-100"  [(ngModel)]="estudioData.lugar._id" (click)="busquedaMunicipio(estudioData.lugar._id)"formControlName="lugarEstudio"  value="estudio.lugar._id">
                                <option value="0">Choose...</option>
                                <option  *ngFor="let estado of estados" [ngValue]= "estado._id">{{estado.nombre}}</option>
                              </select>
                              <div *ngIf="lugarEstudio.invalid && (lugarEstudio.dirty || lugarEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="lugarEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                              </div>
                            </div>

                            <div class="col-md-4 mb-3">
                              <label for="municipio">Municipio</label>
                              <select class="custom-select d-block w-100"  [(ngModel)]="estudioData.lugar.lugar._id" (click)="busquedaParroquia(estudioData.lugar.lugar._id)"formControlName="lugarEstudio"  value="estudio.lugar._id">
                                <option value="0">Choose...</option>
                                <option  *ngFor="let municipio of municipios" [ngValue]= "municipio._id"  >{{municipio.nombre}}</option>
                              </select>
                              <div *ngIf="lugarEstudio.invalid && (lugarEstudio.dirty || lugarEstudio.touched)" class="alert alert-danger">
                                <div *ngIf="lugarEstudio.errors.required">
                                  Este campo es obligatorio
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 mb-3">
                            <label for="estado">Parroquia</label>
                            <select class="custom-select d-block w-100"  [(ngModel)]="estudioData.lugar.lugar.lugar._id" formControlName="lugarEstudio" (click)="seleccionarParroquia(estudioData.lugar.lugar.lugar._id)" value="estudio.lugar._id">
                              <option value="0">Choose...</option>
                              <option  *ngFor="let parroquia of parroquias" [ngValue]= "parroquia._id" >{{parroquia.nombre}}</option>
                            </select>
                            <div *ngIf="lugarEstudio.invalid && (lugarEstudio.dirty || lugarEstudio.touched)" class="alert alert-danger">
                              <div *ngIf="lugarEstudio.errors.required">
                                Este campo es obligatorio
                              </div>
                            </div>
                          </div>-->
                        <div class="form-row">
                          <div class="col-md-6 mb-3">
                            <label for="" class="col-sm-6 col-form-label escrituerModal">Nivel Socio Economico  </label>
                            <select name="id_categoria"  class="custom-select d-block w-100"  [(ngModel)]="estudioData.nivelSocioEconomico._id" formControlName="nivelEstudio" value="estudioData.nivelSocioEconomico._id" >
                              <option  value=""> Seleccione un ...</option>
                              <option  *ngFor="let nivel of nivelSocioEconomico" [ngValue]= "nivel._id"  >{{nivel.nombre}}</option>
                            </select>
                            <div *ngIf="nivelEstudio.invalid && (nivelEstudio.dirty || nivelEstudio.touched)" class="alert alert-danger">
                              <div *ngIf="nivelEstudio.errors.required">
                                Este campo es obligatorio
                              </div>
                            </div>
                          </div>

                          <!-- <div class="col-md-6 mb-3">
                            <label for="" class="col-sm-6 col-form-label escrituerModal">Seleccione un Analista  </label>
                            <select name="id_categoria"  class="custom-select d-block w-100"  [(ngModel)]="estudioData.analista._id" >
                                <option  value=""> Slecciones una ...</option>
                                <option  *ngFor="let analista of analistas" [ngValue]= "analista._id">{{analista.username}}</option>
                            </select>
                          </div>-->

                        </div>



                      </form>
                    </div><!-- cierre del cuerpo modal -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-success" (click)="updateEstudio()" data-dismiss="modal">Guardar</button>
                    </div>

                  </div>
                </div>
              </div> <!-- Finall Modal -->
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteEstudio(estudio._id)">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
